<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <title>个人简历</title>
    <link rel="stylesheet" href="dist/element-ui/2.15.6/css/index.css">
    <script src="dist/vue/2.6.14/vue.min.js"></script>
    <script src="dist/element-ui/2.15.6/js/index.js"></script>
    <style>
        * {
            font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
        }

        html, body, #app {
            width: 100%;
            height: 100%;
        }

        #app {
            padding: 32px;
        }

        .el-divider {
            margin-top: 48px;
        }

        .el-divider__text {
            font-size: 18px;
            font-weight: bold;
            color: cornflowerblue;
        }

        @media screen and ( max-width: 991px ) {
            #app {
                padding: 0;
            }
        }
    </style>
</head>
<body>
<div id="app" style="width: 768px; margin: auto">
    <h1 style="text-align: center">个人简历</h1>
    <el-divider content-position="left"><i class="el-icon-info"></i>&nbsp;基本信息</el-divider>
    <el-row>
        <el-col v-for="(value, key, index) in info" :span="14 - index % 2 * 4" :key="index">
            {{key}}：{{value}}
        </el-col>
    </el-row>
    <el-divider content-position="left"><i class="el-icon-user-solid"></i>&nbsp;个人评价</el-divider>
    <p>{{evaluate}}</p>
    <el-divider content-position="left"><i class="el-icon-s-platform"></i>&nbsp;个人技能</el-divider>
    <ul>
        <li v-for="(i, index) in skills" :key="index">{{i}}</li>
    </ul>
    <el-divider content-position="left"><i class="el-icon-school"></i>&nbsp;教育经历</el-divider>
    <el-row>
        <el-col :span="10">中国计量大学</el-col>
        <el-col :span="10">信息与计算科学</el-col>
        <el-col :span="4">2010.9 ~ 2014.6</el-col>
    </el-row>
    <el-divider content-position="left"><i class="el-icon-office-building"></i>&nbsp;工作经历</el-divider>
    <el-row>
        <el-col :span="10">杭州圆规网络科技有限公司</el-col>
        <el-col :span="10">Java开发</el-col>
        <el-col :span="4">2015.12 至今</el-col>
    </el-row>
    <el-row>
        <el-col :span="10">杭州贝好科技有限公司</el-col>
        <el-col :span="10">硬件实施</el-col>
        <el-col :span="4">2014.6 ~ 2015.11</el-col>
    </el-row>
    <el-divider content-position="left"><i class="el-icon-s-cooperation"></i>&nbsp;项目经验</el-divider>
    <el-row v-for="(i, index) in projects" :key="index">
        <el-col :span="10">{{index + 1}}.{{i.name}}</el-col>
        <el-col :span="10">{{i.role}}</el-col>
        <el-col :span="4">{{i.during}}</el-col>
    </el-row>
    <el-divider content-position="left"><i class="el-icon-s-opportunity"></i>&nbsp;其它</el-divider>
    <div>简历主页：<a href="https://labradorgithubcanine.github.io">https://labradorgithubcanine.github.io</a></div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            info: {
                "姓名": "强名威",
                "居住地址": "浙江省杭州市临平区南苑街道",
                "工作年限": "6年",
                "求职意向": "Java/全栈开发",
                "手机号码": "18767162021",
                "邮箱": "123349527@qq.com",
            },
            evaluate: '我是一个“懒人”，在过去的工作经历中，我一直希望能够用尽可能少的代码和工作量来完成工作的事情，因此我不断学习公司不曾使用的新技术、新框架来完善自己的技能，提高工作效率。简洁、高效、易维护、低冗余的代码是我对编程工作的追求。',
            skills: [
                '熟练使用html/css/js，jquery，bootstrap等基础前端框架',
                '精通vue2+element-ui搭建前端项目，了解vant/vuetify/quasar/antd-vue/naive-ui等ui框架',
                '熟练使用java/springboot/mybatis-plus等技术搭建服务端应用',
                '熟悉mysql/redis等数据库和缓存数据库，有良好的sql编写能力，掌握常用的sql优化技巧',
                '熟悉docker/nginx等方式部署前后端应用',
                '熟悉jsp/servlet等web开发技术',
                '使用maven/git等工具管理和构建项目'
            ],
            projects: [
                {
                    name: '物流数仓系统',
                    role: '主导人',
                    during: '2021年',
                    desc: []
                },
                {
                    name: '医院随访系统',
                    role: '主导人',
                    during: '2020年',
                    desc: []
                },
                {
                    name: '广告屏远程管理系统',
                    role: '主导人',
                    during: '2019年',
                    desc: []
                },
                {
                    name: '开发文档管理系统',
                    role: '主导人',
                    during: '2019年',
                    desc: []
                },
                {
                    name: '公司内部OA系统',
                    role: '主导人',
                    during: '2019年',
                    desc: []
                },
                {
                    name: '医疗服务型企业服务内容填报系统',
                    role: '主导人',
                    during: '2019年',
                    desc: []
                },
                {
                    name: '医疗器械ERP系统',
                    role: '主导人',
                    during: '2019年',
                    desc: []
                },
            ]
        }
    })
</script>
</body>
</html>