<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <title>个人简历</title>
    <link rel="stylesheet" href="dist/element-ui/2.15.6/css/index.css">
    <script src="dist/vue/2.6.14/vue.min.js"></script>
    <script src="dist/element-ui/2.15.6/js/index.js"></script>
    <script src="dist/vue-to-pdf/main.js"></script>
    <style>
        * {
            font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
        }

        html, body, #app {
            width: 100%;
            height: 100%;
        }

        #content {
            padding: 32px;
            margin: auto;
            width: 768px;
        }

        .el-divider {
            margin-top: 48px;
        }

        .el-divider__text {
            font-size: 18px;
            font-weight: bold;
            color: cornflowerblue;
        }

        @media screen and ( max-width: 991px ) {
            #content {
                padding: 0;
                width: 100%;
            }
        }
    </style>
</head>
<body>
<div id="app">
    <div ref="app" id="content">
        <h1 style="text-align: center">个人简历</h1>
        <el-divider content-position="left"><i class="el-icon-info"></i>&nbsp;基本信息</el-divider>
        <el-row>
            <el-col v-for="(value, key, index) in info" :span="14 - index % 2 * 4" :key="index">
                {{key}}：{{value}}
            </el-col>
        </el-row>
        <el-divider content-position="left"><i class="el-icon-user-solid"></i>&nbsp;自我评价</el-divider>
        <p>{{evaluate}}</p>
        <el-divider content-position="left"><i class="el-icon-s-platform"></i>&nbsp;个人技能</el-divider>
        <ul>
            <li v-for="(i, index) in skills" :key="index">{{i}}</li>
        </ul>
        <el-divider content-position="left"><i class="el-icon-school"></i>&nbsp;教育经历</el-divider>
        <el-row>
            <el-col :span="10">中国计量大学</el-col>
            <el-col :span="10">信息与计算科学</el-col>
            <el-col :span="4">2010.9 ~ 2014.6</el-col>
        </el-row>
        <el-divider content-position="left"><i class="el-icon-office-building"></i>&nbsp;工作经历</el-divider>
        <el-row>
            <el-col :span="10">杭州圆规网络科技有限公司</el-col>
            <el-col :span="10">Java开发</el-col>
            <el-col :span="4">2015.12 至今</el-col>
        </el-row>
        <el-row>
            <el-col :span="10">杭州贝好科技有限公司</el-col>
            <el-col :span="10">硬件实施</el-col>
            <el-col :span="4">2014.6 ~ 2015.11</el-col>
        </el-row>
        <el-divider content-position="left"><i class="el-icon-s-cooperation"></i>&nbsp;项目经验</el-divider>
        <el-row v-for="(i, index) in projects" :key="index">
            <b>
                <el-col :span="10">{{index + 1}}.{{i.name}}</el-col>
                <el-col :span="10">{{i.role}}</el-col>
                <el-col :span="4">{{i.during}}</el-col>
            </b>
            <el-col :span="24">
                <p v-for="(j, index2) in i.desc" :key="index2">{{j}}</p>
            </el-col>
        </el-row>
        <el-divider content-position="left"><i class="el-icon-s-opportunity"></i>&nbsp;其它</el-divider>
        <div>简历主页：<a href="https://labradorgithubcanine.github.io">https://labradorgithubcanine.github.io</a></div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        mounted() {
            this.$PDFSave(this.$refs['app'], '我的文件')
        },
        data: {
            info: {
                "姓名": "强名威",
                "居住地址": "浙江省杭州市临平区南苑街道",
                "工作年限": "6年",
                "求职意向": "Java/全栈开发",
                "手机号码": "18767162021",
                "邮箱": "123349527@qq.com",
            },
            evaluate: '我是一个“懒人”，在过去的工作经历中，我一直希望能够用尽可能少的代码和工作量来完成工作的事情，因此我不断学习公司不曾使用的新技术、新框架来完善自己的技能，提高工作效率。简洁、高效、易维护、低冗余的代码是我对编程工作的追求。',
            skills: [
                '熟练使用html/css/js，jquery，bootstrap等基础前端框架',
                '精通vue2+element-ui搭建前端项目，了解vant/vuetify/quasar/antd-vue/naive-ui等ui框架',
                '熟练使用java/springboot/mybatis-plus等技术搭建服务端应用',
                '熟悉mysql/redis等数据库和缓存数据库，有良好的sql编写能力，掌握常用的sql优化技巧',
                '熟悉docker/nginx等方式部署前后端应用',
                '熟悉jsp/servlet等web开发技术',
                '使用maven/git等工具管理和构建项目'
            ],
            projects: [
                {
                    name: '物流数仓系统',
                    role: '主导人',
                    during: '2021年',
                    desc: [
                        '该项目是一个类似于百度sugar的医疗企业行业数据看板项目，主要功能有：',
                        '1.用户通过数据库直连、Excel导入、接口请求三种方式导入自己公司的销售、开票等数据',
                        '2.后台对数据进行整合，展示出销售决策相关的一些数据。例如：销售同比环比增长（客户、产品、负责人等维度）、销售频次、应收账款、DSO天数等。',
                        '用到的技术有：springboot/mybatis-plus + vue/element-ui + redis + mysql 等。'
                    ]
                },
                {
                    name: '医院随访系统',
                    role: '主导人',
                    during: '2020年',
                    desc: [
                        '这是一个给医生使用的项目。患者在完手术或检查后医生需要定期对其身体状况进行调查，以往都是采用电话调查+Excel记录进行随访的方式。这个系统旨在为医生提供电子信息化的随访方式，简化随访工作，共享随访信息资源。主要功能包括：',
                        '1.患者扫描科室二维码成为该科室的患者并填写个人档案。',
                        '2.医生设计课题、问卷（类似于问卷星的功能），通过短信的方式将问卷链接发送给患者，由患者完成问卷的填写。',
                        '3.医生通过问卷结果对各个患者采取对应的治疗措施。或根据一定量的患者调查结果数据来完善自己的课题。',
                        '用到的技术有：springboot/mybatis-plus + vue/element-ui + mysql 等。'
                    ]
                },
                {
                    name: '广告屏远程管理系统',
                    role: '主导人',
                    during: '2019年',
                    desc: [
                        '我们公司其中一项业务是在医院投放一种立式广告屏，用于帮助医生做宣传和宣教，这个项目是使用网页或app的方式来远程控制这些广告屏。主要功能有：',
                        '1.通过消息推送来实现对广告屏的开关机、重启、打开指定网页、调整音量、远程升级等操作。',
                        '2.广告屏定时发送心跳证明自己在线，并实时更新当前信息状态，例如剩余流量、可连接wifi列表、剩余存储空间等信息。',
                        '3.通过网页后台配置广告屏上的布局、跳转逻辑、内容等。通过拖拽的方式自定义内容和布局，例如链接、文字、图片、视频等。',
                        '用到的技术有：springboot/mybatis-plus + vue/antd-vue + mysql 等。'
                    ]
                },
                {
                    name: '开发文档管理系统',
                    role: '主导人',
                    during: '2018年',
                    desc: [
                        '由于市面上没找到较为好用的接口文档工具，于是做了一个管理接口文档的小工具，可以记录历史修改数据、在线调试接口等。'
                    ]
                },
                {
                    name: '公司内部OA系统',
                    role: '主导人',
                    during: '2018年',
                    desc: [
                        '主要用于公司内部的办公管理。主要功能有：日报、通讯录、请假、报销、车辆管理、档案库、时光阁（公司朋友圈）等。',
                        '用到的技术有：springboot/mybatis-plus + jquery/ajax/bootstrap/highcharts + mysql等。'
                    ]
                },
                {
                    name: '医疗服务型企业服务内容填报系统',
                    role: '主导人',
                    during: '2017年',
                    desc: [
                        '该项目主要功能是：医疗服务型企业为厂家提供服务时需要记录服务相关过程，作为厂家支付服务费用的依据。',
                        '主要功能有：服务商用户填报服务事项和内容（文字、图片、视频、定位等），厂家用户对内容进行审核，并按月结算服务费。',
                        '用到的技术有：jsp/jquery/ajax/bootstrap/highcharts + servlet/tomcat + mysql 等。'
                    ]
                },
                {
                    name: '医疗器械ERP系统',
                    role: '主导人',
                    during: '2016年',
                    desc: [
                        '该系统主要用于管理公司内部医疗器械的进销存。包括客户/产品/合同档案、采购/销售/库存，发票/回款，数据统计等主要功能。',
                        '用到的技术有：jsp/jquery/ajax/bootstrap/highcharts + servlet/tomcat + mysql 等。'
                    ]
                },
            ]
        }
    });
</script>
</body>
</html>